<p>Hello user </p>
<p>This is a reddit-like forum that allows you to post topics and upvote/downvote any topics anytime.</p>

<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
  Topic: <input type="text" name="content"><br>
  <input type="submit" value="create">
</form>

{% if most_upvotes_topics %}
    <p>Most-upvoted topics</p>
    <ul>
    {% for topic in most_upvotes_topics %}
        <p>
        {{ forloop.counter }}: {{ topic.content }}
        <a href="/topics/{{ topic.uuid }}/upvote/">Upvotes: {{ topic.upvotes }}                    </a>
        <a href="/topics/{{ topic.uuid }}/downvote/">Downvotes: {{ topic.downvotes }}</a>
            </p>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics are created yet. </p>
{% endif %}
